{% extends 'base/layout.html' %}
{% block title %}Doctors | Fernandez Clinic{% endblock %}
{% block content %}
<div class="flex h-screen">
    
{% include 'patient/patient_sidebar.html' %}
    <div class="flex-1 p-6 ">
        <div class="flex justify-end mb-12">
            <a href="{{ url_for('profile', user_id=session['user_id']) }}">
                <img src="{{ url_for('static', filename='img/profile.jpg')}}" alt="profile" class="rounded-full w-8 h-8">
            </a>
        </div>
        <div class="flex justify-between mb-2 align-center">
            <h1 class="text-2xl font-bold text-blue-700">Available Doctors</h1>
        </div>
        <div class="flex flex-col">
            <div class="overflow-x-auto">
                <div class="p-1.5 w-full inline-block align-middle">
                    <div class="overflow-hidden border rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col" class="px-6 py-3 text-xs font-bold text-center text-gray-500 uppercase ">Name</th>
                                    <th scope="col" class="px-6 py-3 text-xs font-bold text-center text-gray-500 uppercase ">Specialization</th>
                                    <th scope="col" class="px-6 py-3 text-xs font-bold text-center text-gray-500 uppercase ">Status</th>
                                    <th scope="col" class="px-6 py-3 text-xs font-bold text-center text-gray-500 uppercase ">Action</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                                {% for doctor in doctors %}
                                <tr class="bg-white">
                                    <td class="px-6 py-4 text-sm text-center font-medium text-gray-800 whitespace-nowrap">
                                        {{ doctor.firstname }} {{ doctor.lastname }}
                                    </td>
                                    <td class="px-6 py-4 text-sm text-center text-gray-800 whitespace-nowrap">
                                        {{ doctor.specialization }}
                                    </td>
                                    <td class="px-6 py-4 text-sm text-center text-gray-800 whitespace-nowrap">
                                        {{ doctor.phone }}
                                    </td>
                                    <td class="px-6 py-4 text-sm text-center text-gray-800 whitespace-nowrap">
                                        <a href="{{ url_for('view_available_time', doctor_id=doctor.doctor_id)}}" class="text-blue-600 m-4">View Available Time</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}