{% extends 'base/layout.html' %}
{% block title %}Doctors | Fernandez Clinic{% endblock %}
{% block content %}
<div class="flex h-screen">
    {% include 'patient/patient_sidebar.html' %}

    <!-- Main Appointments Content -->
    <div class="flex-1 p-6">
        <div class="flex justify-end gap-2 mb-12">
                <a href="{{ url_for('profile', user_id=session['user_id']) }}">
                    <img src="{{ url_for('static', filename='img/profile.jpg')}}" alt="profile" class="rounded-full w-8 h-8">
                </a>
            </div>
        <div class="flex justify-between mb-4 align-center">
            <h1 class="text-2xl font-bold text-blue-700">My Appointment Requests</h1>
        </div>
        <div class="flex flex-col">
            <div class="overflow-x-auto">
                <div class="p-1.5 w-full inline-block align-middle">
                    <div class="overflow-hidden border rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50 text-center align-center">
                                <tr>
                                    <th scope="col" class="px-6 py-3 align-middle text-center text-xs font-bold text-gray-500 uppercase ">Date</th>
                                    <th scope="col" class="px-6 py-3 align-middle text-center text-xs font-bold text-gray-500 uppercase ">Time</th>
                                    <th scope="col" class="px-6 py-3 align-middle text-center text-xs font-bold text-gray-500 uppercase ">Status</th>
                                    <th scope="col" class="px-6 py-3 align-middle text-center text-xs font-bold text-gray-500 uppercase ">Doctor</th>
                                    <th scope="col" class="px-6 py-3 align-middle text-center text-xs font-bold text-gray-500 uppercase ">Action</th>
                                </tr>
                            </thead>
                            <tbody  class="bg-white divide-y divide-gray-200">
                                {% for appointment in appointments %}
                                <tr>
                                    <td class="py-2 text-center text-sm font-medium text-gray-800 mb-2">{{ appointment.appointment_date }}</td>
                                    <td class="py-2 text-center text-sm font-medium text-gray-800 mb-2">{{ appointment.appointment_time }}</td>
                                    <td class="py-2 text-center text-sm font-medium bg-green-100 text-green-800 text-xs rounded-full">{{ appointment.status }}</td>
                                    <td class="py-2 text-center text-sm font-medium text-gray-800 mb-2">{{ appointment.doctor.firstname }} {{ appointment.doctor.lastname }}</td>
                                    <td class="flex text-center text-sm font-medium text-gray-800 mb-2">
                                        {% if appointment.status != 'Accepted' and appointment.status != 'Rejected' %}
                                            {% if appointment.status == 'Pending' %}
                                            <!-- <form action="{{ url_for('reschedule_appointment', appointment_id=appointment.appointment_id) }}" method="POST" class="text-red-600 m-4">
                                                <button type="submit" class="text-green-600 bg-transparent border-none cursor-pointer">Reschedule</button>
                                            </form> -->
                                            <form action="{{ url_for('cancel_appointment', appointment_id=appointment.appointment_id) }}" method="POST" class="text-green-600 m-4">
                                                <button type="submit" class="text-red-600 bg-transparent border-none cursor-pointer">Cancel</button>
                                            </form>
                                            {% else %}
                                                <span class="text-gray-500 text-center italic m-4">{{ appointment.status | capitalize }}</span>
                                            {% endif %}
                                        {% else %}
                                            <span class="text-gray-500 text-center italic m-4">{{ appointment.status | capitalize }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}