<div class="flex min-h-screen">

    <aside id="patientSidebar"
        class="w-64 bg-white shadow-xl flex flex-col p-4
              sticky top-0 h-screen
              transition-all duration-300">

        <div class="mb-8 flex items-center justify-between">
            <img src="/static/img/logo-name-removebg-preview.png"
                class="sidebar-logo p-2 w-[180px] transition-all duration-300"
                alt="logo">

            <button onclick="toggleSidebar(this)"
                    class="text-gray-500 hover:text-blue-600">
                <i class="ri-menu-line text-xl"></i>
            </button>
        </div>


        <!-- Navigation -->
        <nav class="flex-1">
            <ul class="space-y-2 text-gray-700 p-2">

                <!-- Dashboard -->
                <li>
                    <a href="{{ url_for('patient_dashboard') }}"
                    class="flex items-center gap-3 px-3 py-3 rounded-xl transition
                    {% if request.endpoint == 'patient_dashboard' %}
                            bg-blue-100 text-blue-700 shadow-md shadow-blue-200 font-semibold
                    {% else %}
                            hover:bg-blue-100 hover:text-blue-700
                    {% endif %}">
                        
                        <i class="ri-dashboard-line sidebar-icon text-xl"></i>

                        <span class="font-medium sidebar-text">Dashboard</span>
                    </a>
                </li>

                <!-- Doctors -->
                <li>
                    <a href="{{ url_for('available_doctors') }}"
                    class="flex items-center gap-3 px-3 py-3 rounded-xl transition
                    {% if request.endpoint == 'available_doctors' %}
                            bg-blue-100 text-blue-700 shadow-md shadow-blue-200 font-semibold
                    {% else %}
                            hover:bg-blue-100 hover:text-blue-700
                    {% endif %}">

                        <i class="ri-team-line sidebar-icon text-xl"></i>

                        <span class="font-medium sidebar-text">Doctors</span>
                    </a>
                </li>

                <!-- Appointments -->
                <li>
                    <a href="{{ url_for('patient_appointment') }}"
                    class="flex items-center gap-3 px-3 py-3 rounded-xl transition
                    {% if request.endpoint == 'patient_appointment' %}
                            bg-blue-100 text-blue-700 shadow-md shadow-blue-200 font-semibold
                    {% else %}
                            hover:bg-blue-100 hover:text-blue-700
                    {% endif %}">

                        <i class="ri-calendar-line sidebar-icon text-xl"></i>

                        <span class="font-medium sidebar-text">Appointments</span>
                    </a>
                </li>

                <!-- Book Appointment -->
                <li>
                    <a href="{{ url_for('create_appointment') }}"
                    class="flex items-center gap-3 px-3 py-3 rounded-xl transition
                    {% if request.endpoint == 'create_appointment' %}
                            bg-blue-100 text-blue-700 shadow-md shadow-blue-200 font-semibold
                    {% else %}
                            hover:bg-blue-100 hover:text-blue-700
                    {% endif %}">

                        <i class="ri-calendar-line sidebar-icon text-xl"></i>

                        <span class="font-medium sidebar-text">Book Appointment</span>
                    </a>
                </li>

                <!-- Profile -->
                <li>
                    <a href="{{ url_for('patient_profile') }}"
                    class="flex items-center gap-3 px-3 py-3 rounded-xl transition
                    {% if request.endpoint == 'patient_profile' %}
                            bg-blue-100 text-blue-700 shadow-md shadow-blue-200 font-semibold
                    {% else %}
                            hover:bg-blue-100 hover:text-blue-700
                    {% endif %}">

                        <i class="ri-user-settings-line sidebar-icon text-xl"></i>

                        <span class="font-medium sidebar-text">Profile</span>
                    </a>
                </li>

                <!-- Logout -->
                <div class="mt-10">
                    <a
                        href="{{ url_for('logout') }}"
                        @click.prevent="
                            clearPatientStorage({{ profile.patient_id }});
                            window.location.href='{{ url_for('logout') }}';
                        "
                        class="flex items-center gap-3 p-3 rounded-xl hover:bg-red-100 transition-all"
                        >
                        <i class="ri-logout-box-r-line sidebar-icon text-xl"></i>
                        <span class="font-medium sidebar-text">Logout</span>
                    </a>
                    
                </div>

            </ul>
        </nav>

    </aside>

</div>
<script>
  document.getElementById('logoutBtn')?.addEventListener('click', function () {
    const patientId = this.dataset.patientId;
    handleLogout(patientId);
  });

  function handleLogout(patientId) {
    window.location.href = "/logout";
  }
</script>

