{% extends 'base/layout.html' %}
{% block title %}Doctors | Fernandez Clinic{% endblock %}
{% block content %}
<div class="flex h-screen">
    
{% include 'admin/admin_sidebar.html' %}
    <div class="flex-1 p-6 ">
        <div class="flex justify-end mb-12">
            <span class="font-medium">Admin User</span>
            <img src="{{ url_for('static', filename='img/profile.jpg')}}" alt="profile" class="rounded-full w-8 h-8">
        </div>
        <div class="flex justify-between mb-2 align-center">
            <h1 class="text-2xl font-bold text-blue-700">Doctors</h1>
            <div class="flex items-center gap-2 ">
                <a class="text-blue-600 border-gray-700 py-2 px-4 rounded hover:bg-blue-200 hover:text-white" href="{{ url_for('add_doctor') }}">Add Doctor</a>
            </div>
        </div>
        <div class="flex flex-col">
            <div class="overflow-x-auto">
                <div class="p-1.5 w-full inline-block align-middle">
                    <div class="overflow-hidden border rounded-lg">
                        <div class="columns">
                            <div class="column is-one-third is-offset-one-third">
                                <input type="text" class="input" placeholder="Search" name="q" hx-get="/search" hx-trigger="keyup changed delay:500ms" hx-target="#results">
                            </div>
                        </div>
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col" class="px-6 py-3 text-xs font-bold text-left text-gray-500 uppercase ">Name</th>
                                    <th scope="col" class="px-6 py-3 text-xs font-bold text-left text-gray-500 uppercase ">Specialization</th>
                                    <th scope="col" class="px-6 py-3 text-xs font-bold text-left text-gray-500 uppercase ">Status</th>
                                    <th scope="col" class="px-6 py-3 text-xs font-bold text-left text-gray-500 uppercase ">Action</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200 " id="results">
                                {% for doctor in doctors %}
                                <tr class="bg-white">
                                    <td class="px-6 py-4 text-sm font-medium text-gray-500 whitespace-nowrap">
                                        {{ doctor.firstname }} {{ doctor.lastname }}
                                    </td>
                                    <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
                                        {{ doctor.specialization }}
                                    </td>
                                    <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
                                        <span class="inline-flex items-center rounded-full bg-gradient-to-r from-gray-400 to-gray-600 px-5 py-1 text-xs font-semibold text-white">Active</span>
                                    </td>
                                    <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
                                        <a href="#" class="text-blue-600 m-4">View</a>
                                        <a href="#" class="text-red-600 m-4">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}