{% extends 'base/layout.html' %}
{% block title %}Doctors | Fernandez Clinic{% endblock %}
{% block content %}
<div class="flex h-screen">
    
{% include 'admin/admin_sidebar.html' %}
    <div class="flex-1 p-6">
        <div class="flex justify-between mb-12 align-center">
            <h1 class="text-2xl font-bold text-blue-700">Doctors</h1>
            <div class="flex items-center gap-2">
                <a href="{{ url_for('profile', user_id=session['user_id']) }}">
                    <img src="{{ url_for('static', filename='img/profile.jpg')}}" alt="profile" class="rounded-full w-8 h-8">
                </a>
            </div>
        </div>
        <div class="flex flex-row border border-gray-700 rounded">
            <table class="table-auto w-full">
                <thead class="border-b border-black-800 font-bold flex-row justify-center align-center">
                    <th class="px-4 py-2 text-2xl text-center">
                        <td>Name</td>
                        <td>Designation</td>
                        <td>Status</td>
                        <td>Action</td>
                    </th>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    <tr>
                        <td></td>
                        <td>
                            John Paul Mark Salugta
                        </td>
                        <td>
                            Dentist
                        </td>
                        <td>
                            active 30min ago
                        </td>
                        <td>
                            <a href="#" class="text-blue-600 m-4">View</a>
                            <a href="#" class="text-red-600 m-4">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            John Paul Mark Salugta
                        </td>
                        <td>
                            Dentist
                        </td>
                        <td>
                            active 30min ago
                        </td>
                        <td>
                            <a href="#" class="text-blue-600 m-4">View</a>
                            <a href="#" class="text-red-600 m-4">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            John Paul Mark Salugta
                        </td>
                        <td>
                            Dentist
                        </td>
                        <td>
                            active 30min ago
                        </td>
                        <td>
                            <a href="#" class="text-blue-600 m-4">View</a>
                            <a href="#" class="text-red-600 m-4">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            John Paul Mark Salugta
                        </td>
                        <td>
                            Dentist
                        </td>
                        <td>
                            active 30min ago
                        </td>
                        <td>
                            <a href="#" class="text-blue-600 m-4">View</a>
                            <a href="#" class="text-red-600 m-4">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            John Paul Mark Salugta
                        </td>
                        <td>
                            Dentist
                        </td>
                        <td>
                            active 30min ago
                        </td>
                        <td>
                            <a href="#" class="text-blue-600 m-4">View</a>
                            <a href="#" class="text-red-600 m-4">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            John Paul Mark Salugta
                        </td>
                        <td>
                            Dentist
                        </td>
                        <td>
                            active 30min ago
                        </td>
                        <td>
                            <a href="#" class="text-blue-600 m-4">View</a>
                            <a href="#" class="text-red-600 m-4">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            John Paul Mark Salugta
                        </td>
                        <td>
                            Dentist
                        </td>
                        <td>
                            active 30min ago
                        </td>
                        <td>
                            <a href="#" class="text-blue-600 m-4">View</a>
                            <a href="#" class="text-red-600 m-4">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            John Paul Mark Salugta
                        </td>
                        <td>
                            Dentist
                        </td>
                        <td>
                            active 30min ago
                        </td>
                        <td>
                            <a href="#" class="text-blue-600 m-4">View</a>
                            <a href="#" class="text-red-600 m-4">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            John Paul Mark Salugta
                        </td>
                        <td>
                            Dentist
                        </td>
                        <td>
                            active 30min ago
                        </td>
                        <td>
                            <a href="#" class="text-blue-600 m-4">View</a>
                            <a href="#" class="text-red-600 m-4">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            John Paul Mark Salugta
                        </td>
                        <td>
                            Dentist
                        </td>
                        <td>
                            active 30min ago
                        </td>
                        <td>
                            <a href="#" class="text-blue-600 m-4">View</a>
                            <a href="#" class="text-red-600 m-4">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            John Paul Mark Salugta
                        </td>
                        <td>
                            Dentist
                        </td>
                        <td>
                            active 30min ago
                        </td>
                        <td>
                            <a href="#" class="text-blue-600 m-4">View</a>
                            <a href="#" class="text-red-600 m-4">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            John Paul Mark Salugta
                        </td>
                        <td>
                            Dentist
                        </td>
                        <td>
                            active 30min ago
                        </td>
                        <td>
                            <a href="#" class="text-blue-600 m-4">View</a>
                            <a href="#" class="text-red-600 m-4">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            John Paul Mark Salugta
                        </td>
                        <td>
                            Dentist
                        </td>
                        <td>
                            active 30min ago
                        </td>
                        <td>
                            <a href="#" class="text-blue-600 m-4">View</a>
                            <a href="#" class="text-red-600 m-4">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}